<div class="container">
<FRAMESET FRAMEBORDER="no" ROWS=85%,* bordercolor="grey" >
	<FRAMESET COLS=90%,* >
		<FRAME NORESIZE SRC=text>
		<FRAME NORESIZE SRC=users>
	</FRAMESET>
	<FRAME NORESIZE SCROLLING="NO" SRC=form>
</FRAMESET>
</div>
