<body class="padre background_base">
	<div class="hijo container"> 
		<form action='/'>
		  <label class="texto" for='user'>User Name:</label>
		  <input name='user' value='' />
		  <input class="small button" type='submit' value="GO!" />
		</form>
	</div>
</body>