<body class="background_base">
	<div class="chat">
		<pre  id='chat'></pre>
	</div>

<script>
  // reading
  var es = new EventSource('/stream');
  es.onmessage = function(e) {
  var aux;
    if (aux = e.data.match(/<%= $user %>: \/(.+): (.+)/)){
      $('#chat').append("Mensaje Enviado a " + aux[1] + ": " + aux[2] + "\n");
    } else if (aux = e.data.match(/(.+)\/<%= $user %>:(.+)/)) {
      $('#chat').append("Mensaje Recibido de " + aux[1] + aux[2] + "\n");
    } else if (!e.data.match(/(.+): \/(.+):/)) {
      $('#chat').append(e.data + "\n");
    }
  };
</script>
</body>