<html>
	<head>
		<link rel ="stylesheet" type="text/css" href= "/css/style.css" />
	</head>
	<body>
	<p> Seleccione el lenguaje que desea dar formato: </p>
	<form action="/" method="POST">
						<select name="lenguaje">
							<option value="ruby">Ruby</option>
							<option value="xml">XML</option>
							<option value="yaml">YAML</option>
						</select> 
						
	<div class="snippet">
			<textarea name="body" id="body" rows="20"></textarea>
			<br/><input type="submit" value="Dar Formato"/>
	</div>
	</form>
	</body>
</html>