<html>
	<head>
		<link rel ="stylesheet" type="text/css" href= "/css/style.css" />
	</head>
	<body>
	<p>Lenguaje: <%= @lenguaje %></p>
	<div class="snippet">
		<div class="sbody" id="content">
			 <%= @text %>
		</div>
		<br/><a href="/">Escribir de nuevo!</a>
	</div>
	</body>
</html>