<html>
	<head><title> ROCK, paper, scissors </title>
		<link rel ="stylesheet" type="text/css" href= "/css/style.css" />
	</head>
	<body class="bgimage">
		<div class="container">	
			<div class="machangos"></div>
			<div class="letras"></div>
			<div class="vs">
				<p> VS </p>
			</div>
			<div class="box">
				<div class="centrado">
					<form name="input" action="/throw" method=POST>
						<select name="op">
							<option value="rock">Rock</option>
							<option value="paper">Paper</option>
							<option value="scissors">Scissors</option>
						</select> 
						<input name="PLAY" value= "PLAY" type="submit" class="enviar"/>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>